.main {

    flex-grow: 1;

}

.main{
    position: relative;
    width: 400px;
    height: 400px;

.box{
    position: absolute;
    margin: 200px 200px;
    width: 300px;
    height: 300px;
    border: 5px solid red;
    border-radius: 100%;
    background-image: url("../../images/user.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.square{
    position: absolute;
    margin: 200px 200px;
    top: 240px;
    left: 240px;
    width: 35px;
    height: 35px;
    border: 5px solid rgb(29, 192, 221);
    background-color: rgb(29, 192, 221);
    border-radius: 100%;
}}
